* {
  cursor: url('../cursor/cursor.cur'), auto;
}

body {
  font-family: 'Montserrat';
  font-size: 12pt;
  background-color: #fff0db;
  background: radial-gradient(ellipse at bottom, #fff0db 0%, #AC9362 100%);
  filter: drop-shadow(0 0 10px white);
  cursor: url('../cursor/cursor.cur'), auto;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width: 100%; /* Ensure the image takes the full width of the container */
  max-height: 90vh; /* Maximum height should be 90% of the viewport */
  object-fit: contain; /* This ensures the image scales to fit without cropping */
}

/* Next & previous buttons */
.prev, .next {
  cursor: url('cursor/cursor.cur'), auto;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5); 
  top: 50%; 
  transform: translateY(-50%);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the left */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  cursor: url('../cursor/cursor.cur'), auto;
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: url('../cursor/cursor.cur'), auto;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
