/* Body Styling */
body {
  font-family: 'Montserrat';
  font-size: 12pt;
  background-color: #fff0db;
  cursor: url('../cursor/cursor.cur'), auto;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
  text-align: center; /* Center text in h1 and p */  
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  filter: drop-shadow(0 0 10px white);
/* Add space between elements */
h1, p {
  margin-bottom: 20px; /* Adds space after each heading or paragraph */
}

img {	
  margin-bottom: 20px; /* Adds space after the GIF */
}
/* Apply custom cursor globally */
* {
  cursor: url('../cursor/cursor.cur'), auto;
}

/* Apply custom cursor for the "Happy Valentines!" link */
a {
  cursor: url('../cursor/cursor.cur'), pointer;
}
/* Style for the clickable text */
.pulse-text {
  font-size: 2em;
  font-weight: bold;
  color: red;
  text-align: center;
  display: inline-block;
  text-decoration: none; /* Remove underline */
  animation: pulse 1.5s ease-in-out infinite, bubble 1s ease-in-out infinite;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out; /* Smooth hover effect */
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.snow {
  $total: 200;
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;

  @for $i from 1 through $total {
    $random-x: random(1000000) * 0.0001vw;
    $random-offset: random_range(-100000, 100000) * 0.0001vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + ($random-offset / 2);
    $random-yoyo-time: random_range(30000, 80000) / 100000;
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: random(10000) * 0.0001;
    $fall-duration: random_range(10, 30) * 1s;
    $fall-delay: random(30) * -1s;

    &:nth-child(#{$i}) {
      opacity: random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes fall-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }

      to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
      }
    }
  }
}
